body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: 3s linear;
}
h2{
    margin: 0;
    background: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
    transition: 3s linear;
}
